*.h
*.cc
*.txt
*.pyc
*.json
*.npy
*.sh
lemon-1.3.1/*
api_examples/*
*.csv
*.joblib
*.eps
*.png
*.pdf
*.jpg
*.make
*.html
*.ipynb
Makefile
main
*.cc
2_Gaussians.py
bob.py
synthetic.py
toy_example.py
2D_example.py